<div class="overflow-hidden">
    <div class="logo">
        <div class="logo-icon">
            <img src="{{ asset('images/logo-cvav.png') }}" alt="" class="img-fluid">
        </div>
        <div class="logo-text">
            <h4 style="font-size: 1.15rem">
                Coeurs Vaillants Ames Vaillantes
            </h4>
            <h5 style="font-size: .9rem">Diocèse d'Abidjan</h5>
        </div>
        <div class="menu">
            <nav class="navbar">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}" data-turbo="false">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_profil') }}" data-turbo="false">Je m'inscris</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_recu_recherche') }}" data-turbo="false">Mon reçu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_recu_recherche_liste') }}">Mes participants</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_taille_recherche') }}">Mon T-Shirt</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contentieux</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
